.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    width: 100%;

}

.nav {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: black;
    position: relative;
    margin-left: 10px;
    padding-left: 60px;
}

.nav::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 45px;
    width: 2px;
    height: 60px;
    background-color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: black;
    margin-left: 15px;
    padding: 8px 10px;
    border: 2px rgb(85, 84, 84) transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.langue-select {
    margin-right: 50px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5pt;
    color: black;
    padding: 15px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    border: transparent;
    background-color: rgba(128, 128, 128, 0.135);
    width: 55px;
    height: 10px;
    display: flex;
    align-items: center;
}


.langue-select.select-active:hover,
.langue-select:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.langue-select.select-active select {
    pointer-events: auto;
}

.langue-select select {
    background-color: transparent;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
    appearance: none;
    padding-left: 20px;
    cursor: pointer;
    pointer-events: none;
    outline: none;
    border: none;

}

.langue-select::after {
    border: none;
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.langue-select .flag-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
}

.langue-select select option {
    background-color: #8f94fb;
    color: white;
}


.icon-home img {
    width: 24px;
    height: 24px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}

.menu-item1 {
    border: 2px solid#b0afaf2a;
    background-color: white;
    width: 90px;
    height: 26px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: black;
    margin-left: 10px;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.menu-item1:hover {
    background-color: #b615152a;
}

.menu-item {
    border: 2px solid #b0afaf2a;
    background-color: white;
    width: 90px;
    text-align: center;
}

.menu-item:hover {
    background-color: #b0afaf2a;
}

.container-login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-container {
    background: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin-top: 50px;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-container p {
    margin: 10px 0;
    font-size: 14px;
}

.login-container a {
    background-color: #f4f2f2;
    text-decoration: none;
    color: #7a7a7a;
    font-size: 15px;
}

.login-container span a {
    background-color: rgb(242, 223, 15);
    border-radius: 5px;
    border-bottom-right-radius: 30px;
    color: black;
    font-weight: bold;
}



.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.google-btn:hover{
    background-color: #7a7a7a47;
}

.google-btn img {
    width: 20px;
    margin-right: 10px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider span {
    flex: 1;
    height: 2px;
    background: #ccc;
}

.divider span:first-child,
.divider span:last-child {
    margin: 0 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group label {
    margin-right: 10px;
}

.input-group img {
    width: 20px;
    margin-right: 10px;
}

.input-group input {
    width: 100%;
    border: none;
    outline: none;
}



.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: white;
    cursor: pointer;
}


.forgot-password {
    text-align: left;
    font-size: 12px;
    color: #999;
    align-self: center;
    text-decoration: underline;
    margin-top: -20px;
    margin: 10px;
}

.forgot-password span a {
    margin-top: 50px;
    background-color: transparent;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
}

.forgot-password:hover{
    color: red;
    text-decoration: none;
}



@media(max-width:500px){

    html{
        overflow-x: hidden;
    }
    .menu {
        display: flex;
        flex-direction: column-reverse;
        margin: 10px;
        padding: 10px;
        justify-content: space-between;
    }

    .langue-select {
        margin-left: 75px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5pt;
        color: black;
        padding: 15px 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border: transparent;
        background-color: rgba(128, 128, 128, 0.135);
        width: 85px;
        height: 10px;
        display: flex;
        align-items: center;
        margin: 5px;
    }
}